<%= render 'shared/error_messages', resource: @created_shift %>

<div class="wrapper">
  <div class="col-md-7 col-md-offset-1 all-staffs-table">
    <h2>全社員シフト</h2>
    <%= month_calendar events: @collected_shifts do |date, shifts| %>
      <%= date %>
      <% shifts.each do |shift| %>

        <% links = capture do %>
          <%= shift.user.name %>: 
          <%= l shift.started_at %> -
          <%= l shift.finished_at %>
        <% end %>

        <% if current_user.admin? && shift.is_determined == false %>
          <%= link_to links, collected_shift_created_shifts_path(shift), method: :post, data: { confirm: "確定しますか？" } %>
        <% else %>
          <a><%= links %></a>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
