<%= render 'shared/flash' %>
<h1><%= @user.name %></h1>
<h2><%= @user.email %></h2>

<h2>私のシフト</h2>
<% @collected_user_shifts.each do |shift| %>
  <%= link_to edit_collected_shift_path(shift) do %>
  <li>
    <%= shift.started_at %>
    <%= shift.finished_at %>
  </li>
  <% end %>
<% end %>