<div class="wrapper right-side-wrapper">
  <div class="col-md-5 col-md-offset-2">
    <h2><%= title %></h2>
    <%= form_with(model: resource, local: true) do |f| %>

      <div class="field form-group">
        <%= f.label :started_at, class: "form-group" %>
        <%= f.datetime_field :started_at, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :finished_at, class: "form-group" %>
        <%= f.datetime_field :finished_at, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "#{btn}", class: "form-control light" %>
      </div>
    <% end %>
    <% if defined? delete_link %>
      <%= link_to "削除する", resource, method: :delete, data: { confirm: '削除してよろしいですか' } %>
    <% end %>
  </div>
</div>