<div class="wrapper right-side-wrapper">
  <div class="col-md-5 col-md-offset-2">
    <h2>所属会社を新規登録</h2>
    <%= form_with(model: @company, local: true) do |f| %>

      <div class="field form-group">
        <%= f.label :name, '会社名', class: 'form-group' %>
        <%= f.text_field :name, required: true, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :address, '住所', class: 'form-group' %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :tel, '代表番号', class: 'form-group' %>
        <%= f.text_field :tel, class: 'form-control' %>
      </div>
      
      <div class="actions">
        <%= f.submit '登録する', class: 'form-control light' %>
      </div>
    <% end %>
  </div>
</div>