<h2>確定版</h2>
<%= month_calendar events: @created_shifts do |date, shifts| %>
  <%= date %>
  <% shifts.each do |shift| %>
    <div>
      <%= link_to created_shift_path(shift.id), method: :delete, data: { confirm: "未確定に変更してよろしいですか？" } do %>
        <%= shift.user.name %>: 
        <%= shift.started_at.strftime("%H:%M") %>〜
        <%= shift.finished_at.strftime("%H:%M") %>
      <% end %>
    </div>
  <% end %>
<% end %>