<header class="clearfix">
  <nav class="navbar navbar-fixed-top header-style">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'ShiftAPP', root_path, class: "navbar-brand" %>
      </div>
      <div class="navbar-collapse collapse" id="navbar-target">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle stated" href="#" data-toggle="dropdown">
              <%= user_signed_in? ? current_user.name : 'ようこそゲストさん。' %>
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% if user_signed_in? %>
                <li><%= link_to 'マイページ', user_path(current_user) %></li>
                <li><%= link_to 'アカウント設定', edit_user_registration_path %></li>
                <li class="divider"></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to '新規登録', new_user_registration_path %></li>
                <li><%= link_to 'ログイン', new_user_session_path %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>