<header class="clearfix">
  <nav class="navbar navbar-fixed-top header-style">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_target">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'ShiftAPP', root_path, class: "navbar-brand" %>
      </div>
      <div class="navbar-collapse collapse" id="navbar-target">
        <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <% if current_user.admin? %>
                <li><%= link_to 'スタッフ一覧', users_path, class: "stated" %></li>
                <li><%= link_to '社員シフト一覧', collected_shifts_path, class: "stated" %></li>
                <li><%= link_to '確定シフト', created_shifts_path, class: "stated" %></li>
                <li><%= link_to '勤務実績', attendances_path, class:"stated" %></li>
                <li><%= link_to "会社：#{current_user.company.name}", company_path(current_user.company), class: "stated" %></li>
              <% elsif current_user.company %>
                <li><%= link_to 'スタッフ一覧', users_path, class: "stated" %></li>
                <li><%= link_to '社員シフト一覧', collected_shifts_path, class: "stated" %></li>             
                <li><a class="stated">会社：<%= current_user.company.name %></a></li>
              <% else %>
                <li><%= link_to '会社：未登録', edit_user_registration_path(path: 'edit_company'), class: "stated" %></li>
              <% end %>
            <% end %>
          <li class="dropdown">
            <a class="dropdown-toggle stated" href="#" data-toggle="dropdown">
              <%= user_signed_in? ? current_user.name : 'ようこそゲストさん。' %>
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% if user_signed_in? %>
                <li><%= link_to 'マイページ', user_path(current_user) %></li>
                <li><%= link_to 'アカウント設定', edit_user_registration_path %></li>
                <li class="divider"></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to '新規登録', new_user_registration_path %></li>
                <li><%= link_to 'ログイン', new_user_session_path %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>